:root {
--palette-color-one: #444B54;
--palette-color-two: #C7C8D3;
--palette-color-three: #90909C;
--palette-color-four: #9BA3BA;
--palette-color-five: #A7B7C8;
}

* {
  margin: 0;
  padding: 0;
}

body { 
  position: relative;
  font-family: Roboto, sans-serif;
  background-color: white; 
  min-width: 375px; 
  max-width: 1200px;
  height: 100%; 
  width: 80vw;     
} 

header, footer {
  background-color: var(--palette-color-one);
  color: var(--palette-color-four);
  padding: 2rem;
  font-family: Lora, sans-serif;
  font-weight:bolder;
  text-align: center;  
  font-style: italic;
} 

header {
  font-family: Lora, sans-serif;
  font-size: 2em;
  margin: auto;
}

article {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  height: 100%; 
  width: 80%;   
}

h1 {
  font-size: 20rem;
  color: var(--palette-color-one);
  font-size: larger;
  font-weight: bolder;
  text-align:center;
}

h2 {
  color: var(--palette-color-one);
  font-size: medium;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-family: Roboto, sans-serif;
  color: var(--palette-color-one);
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  text-align:justify;
}

p {
  font-family: lora, sans-serif;
  font-size: 1rem;
  color: var(--palette-color-one);
  margin-left: auto;
  margin-right: auto;
  text-align:justify;
  padding: 10px 5px 15px 5px;
}

#nav-menu {
  background-color: var(--palette-color-two);
  list-style-type: none;
  text-align: center;
}

#nav-menu > li {
  text-decoration: none;
  display: inline-block;
  padding: 20px;
  font-weight: bold;
}

#nav-menu > li > a {
  text-decoration: none;
  color: var(--palette-color-one);
}

#about {
  padding-top: 10vh;
  height: 90vh;
  background-size: cover;
  background-color: var(--palette-color-one);
  background-image: url("../images/wolfgang-hasselmann-aF1ayo4T4lk-unsplash.jpg");
  background-repeat: no-repeat;
}

.profile-image {
  border-radius: 50%;
  width: 30%;
  height: auto;
  padding: 1rem;
}

#introduction {
  width: 80%;
  padding: 1rem;
}

#portfolio {
  height: 100vh;
  background-color: var(--palette-color-four);
}

#blog {
  height: 100vh;
  background-color: var(--palette-color-five);
}

.blog-heading {
  padding: 2rem;
}

.grid {
  display: grid;
  margin-top: 20px;
  max-width: 100%;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 15px;
  justify-content: center;  
}

.grid-3 {
  display: grid;
  margin-top: 20px;
  max-width: 100%;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 15px;
  justify-content: center;  
}

.grid-2 {
  display: grid;
  margin-top: 20px;
  max-width: 100%;
  grid-template-columns: 50% 50%;
  grid-gap: 5px;
  justify-content: center;  
}

.grid-item > a {
  text-decoration: none;
}

.grid-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 80%;
  border-radius: 10px;
  justify-content: center;
}

.grid-img-2 {
  width: 80%;
  height: 80%;
  object-fit: cover;
  opacity: 100%;
  border-radius: 10px;
  justify-content: center;
}

.grid-label {
  font-size: 1rem;
  font-weight: bold;
  margin-top: -3.0rem;
  text-align: center;
  padding: 0, .5rem;
  color: var(--palette-color-one);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--palette-color-four);
  opacity: 60%;
}

#construction {
  font-size: 1rem;
  background-color: lightyellow;
  color: var(--palette-color-one);
  text-align: center;
  height: 1.5rem;
}

#quote {
  font-style: italic;
  font-weight: bold;
}

#tech-term {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: grey;
  background-color: #CDCDCD;
  position: relative;
  border-radius: 5px;
  padding: .1rem;
  white-space: nowrap;
}

.overlay {
  background-color: var(--palette-color-two);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  opacity: 90%;
  width: 80%;
}

.code-overlay {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: grey;
  background-color: #CDCDCD;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  text-align: center;
  opacity: 90%;
  width: 80%;
  border-radius: 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 75%;
}

.light-heading {
  color: var(--palette-color-four);
}

